<div id="full" class="carousel carousel-fade" data-ride="carousel">
	<div class="carousel-inner">
	<% @cycle.each_with_index do |img, index| %>
	  <% if index == 0 %>
	  <div class="item active">
	  <% else %>
	  <div class="item">
	  <% end %>
	  	<% if img.link? %>
	  	<%=link_to '', img.link, :target => "_blank", class: "carousel-link" %>
	  	<% end %>
	  	<% cycleImg = img.image.url if img.image? %>
	  	<div class="pic" style="background-image: url('<%= cycleImg %>'); "></div>
	  </div>
	<% end %>
	</div> <!-- /carousel-inner -->
</div>