#full{
}

.carousel-inner, .carousel-indicators{
  padding-top: 136px;
  max-height: 90vh;
  min-height: 90vh;
}

.carousel-link{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.pic{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@media screen and (min-width: 768px) {
  .pic{
    max-height: 90vh;
    min-height: 90vh;
  }
}

@media screen and (max-width: 767px) {
  .pic{
    padding-bottom: 56.25%;
    height: 0;
  }
}

.carousel-fade {
  .carousel-inner {
      .item {
          transition-property: opacity;
      }
      
      .item,
      .active.left,
      .active.right {
          opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
          opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
      }
  }

  .carousel-control {
      z-index: 2;
  }
}
